body,
html {
    color-scheme: light dark;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
}

.container {
    margin: 5%;
    padding-inline: 1rem;
    text-align: left;
}

.link {
    margin: 0 5%;
}

#links {
    margin-top: 10%;
}

#header {
    font-size: 1.5rem;
    text-align: center;
}

#image {
    display: flex;
    justify-content: center;
}

/* #problems {
    background-attachment: fixed;
    background-image: url("../images/yosemite-valley.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
} */

#answers {
    display: block;
    justify-content: center;
}

#problems > p {
    margin: 3%;
}

#answers > p, #answers > a {
    margin: 3%;
}

